<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECYCLING</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>WHAT IS RECYCLING?</h1>
    <h2>DO YOU KNOW WHAT IS RECYCLING</h2>
    <h3>Recycling is sorting the trash to different appropiate bins so tne workers can the collect it and sort it easily and then reusing by smelting it or using other processes,so you can contribute by recycling the rubbish to the appropiate bins</h3>
    <h3></h3>
    <h2>WHAT ARE THE MAIN BIN TYPES?</h2>
    <h3>1.GREEN BIN:glass,lime bottels and jars</h3>
    <h3>2.BLUE BIN:paper,cardboard</h3>
    <h3>3.YELLOW BIN:plastic,like bags and bottles</h3>
    <h3>4.ORANGE BIN:things that can't be recycled</h3>
    <h3>5.BROWN BIN:Organic waste,like banana peel</h3>
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThpWmmCViR-9-uBrnkzfG0VmoCl2dmIRgPoaPwh1jWeC67lULvAOyjxhFJi1LAQej7n8E&usqp=CAU'>
</body>
</html>